@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme{
    --font-inter: "Inter", "sans-serif"; 
    --font-jetbrains: "JetBrains Mono", monospace;
}
body{
    overflow: hidden;
}
::-webkit-scrollbar{
    width: 8px;
}
::-webkit-scrollbar-track{
    background: #1f1f1f;
    border-radius: 4px;
    margin-top: 50px;

}
::-webkit-scrollbar-thumb{
    background: #6d6d6d;
    border-radius: 4px;
}